.desktop-1-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 164px;
}
.desktop-1-inner,
.desktop-1-item,
.rectangle-div {
  position: absolute;
  top: 173.5px;
  left: 0;
  width: 1440px;
  height: 125px;
}
.desktop-1-inner,
.rectangle-div {
  top: 924px;
  height: 100px;
}
.rectangle-div {
  top: 308px;
  left: 582px;
  background-color: var(--color-gainsboro);
  width: 858px;
  height: 607px;
}
.desktop-1-child1,
.image-1,
.rectangle-icon {
  position: absolute;
  top: 308px;
  left: 0;
  width: 561px;
  height: 453px;
}
.desktop-1-child1,
.image-1 {
  top: 771px;
  height: 144px;
}
.image-1 {
  text-decoration: none;
  top: 21px;
  left: 4px;
  width: 215px;
  height: 121px;
  background-image: url(./public/image-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.to {
  color: #e11c1c;
}
.span {
  color: var(--color-black);
}
.the {
  color: var(--color-khaki);
}
.f {
  color: var(--color-red-100);
}
.u {
  color: var(--color-limegreen);
}
.t {
  color: #22e8f5;
}
.u1 {
  color: #8235ff;
}
.r {
  color: var(--color-mediumvioletred);
}
.e {
  color: var(--color-orange);
}
.apple-welcome-to-container {
  position: absolute;
  top: 38px;
  left: 237px;
  font-size: 74px;
}
.image-2 {
  text-decoration: none;
  position: absolute;
  top: 319px;
  left: 15px;
  width: 530px;
  height: 426px;
  background-image: url(./public/image-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.privacy-policy1 {
  text-decoration: underline;
}
.privacy-policy {
  color: inherit;
}
.privacy-policy-terms-of-use-sa {
  margin: 0;
}
.copyright-2023-container,
.hey-there-welcome-container {
  position: absolute;
  display: inline-block;
  text-align: center;
}
.copyright-2023-container {
  top: 939px;
  left: 46px;
  color: inherit;
  width: 1348px;
}
.hey-there-welcome-container {
  top: 771px;
  left: 4px;
  font-size: 35px;
  width: 475px;
  height: 76px;
}
.image-3 {
  text-decoration: none;
  position: absolute;
  top: 784px;
  left: 456px;
  width: 89px;
  height: 118px;
  background-image: url(./public/image-3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.apple-park-is-container {
  position: absolute;
  top: 335px;
  left: 603px;
  font-size: 28px;
  color: inherit;
  display: inline-block;
  width: 832px;
  height: 601px;
}
.button-1,
.button-2,
.button-3,
.button-4,
.button-5 {
  position: absolute;
  top: 207px;
  left: 1224px;
  border-radius: 50%;
  background-color: var(--color-limegreen);
  width: 200px;
  height: 55px;
}
.button-1,
.button-2,
.button-3,
.button-4 {
  left: 988px;
  background-color: var(--color-mediumvioletred);
}
.button-1,
.button-2,
.button-3 {
  left: 752px;
  background-color: var(--color-khaki);
}
.button-1,
.button-2 {
  left: 516px;
  background-color: var(--color-red-100);
}
.button-1 {
  left: 280px;
  background-color: var(--color-orange);
}
.home,
.menu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 217px;
  left: 336px;
  font-size: var(--font-size-10xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.menu {
  left: 576px;
}
.about-us {
  text-decoration: none;
  left: 788px;
  color: inherit;
}
.about-us,
.contact-us,
.shop {
  position: absolute;
  top: 217px;
  font-weight: 700;
}
.contact-us {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 1010px;
  font-size: var(--font-size-10xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.shop {
  text-decoration: none;
  left: 1288px;
  color: inherit;
}
.desktop-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-10xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
