@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-4xs: 9px;
  --font-size-3xs: 10px;
  --font-size-20xl: 39px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
}
